fastapi[standard]==0.116.1
sqlalchemy==2.0.41
psycopg[binary]==3.2.9
alembic==1.16.4
pydantic-settings==2.10.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
pytest==8.4.1
httpx==0.28.1
ruff==0.12.4
mypy==1.17.0
